#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
includes:
  - webloader.neon

parameters:
    bowerDir: %wwwDir%/bower_components


php:
    date.timezone: Europe/Prague
    zlib.output_compression: yes


application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

database:
    dsn: 'mysql:host=%database.host%;dbname=%database.database%'
    user: %database.user%
    password: %database.password%
    options:
        lazy: yes

security:
    users:
        sandbox: sandbox


extensions:
    webloader: WebLoader\Nette\Extension
    ajaxHistory: VojtechDobes\NetteAjax\HistoryExtension
    uploadManager: ondrs\UploadManager\DI\Extension

uploadManager:
    relativePath: '/uploads'

    imageManager:
        dimensions:
            800:
                - {800, NULL}
                - shrink_only
            500:
                - {500, NULL}
                - shrink_only
            250:
                - {250, NULL}
                - shrink_only

services:
    - App\RouterFactory
    router: @App\RouterFactory::createRouter

    - App\AdminModule\Factory\GridFactory
    - App\AdminModule\Factory\FormFactory

    - App\AdminModule\Components\Menu\MenuGenerator(%appDir%/config/admin.menu.neon)
    - App\AdminModule\Components\Menu\MenuControlFactory

    - App\AdminModule\Components\Dropzone\Control


    #- App\Model\UserManager
