<!DOCTYPE html>
<html lang="cs">
<head>
    <title>Administrace</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {control css}

    {block prejs}{/block}
    {control js}
    <script src="{$basePath}/bower_components/tinymce/tinymce.min.js"></script>
    {block postjs}{/block}

</head>
<body data-color="grey">
<div id="wrapper">
    <div id="header">
        <h1 style="background: url('{!$basePath}/images/logo.png') no-repeat center; background-size: contain;">
            <a n:href="Default:">Domů</a>
        </h1>
        <a id="menu-trigger" href="#">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div id="user-nav">
        <ul class="btn-group">

            <li class="btn">
                <a title="Zobrazit web" n:href=":Front:Homepage:" target="_blank">
                    <i class="fa fa-arrows-alt"></i>
                    <span class="text">Zobrazit web</span>
                </a>
            </li>

            <li class="btn">
                <a title="Nastavení" href="#">
                    <i class="fa fa-cog"></i>
                    <span class="text">Nastavení</span>
                </a>
            </li>

            <li class="btn">
                <a title="Odhlásit se" n:href="Sign:out">
                    <i class="fa fa-share"></i>
                    <span class="text">Odhlásit se</span>
                </a>
            </li>

        </ul>
    </div>


    <div id="sidebar">
        <ul>

            <li n:foreach="$mainMenu as $name => $values"
                class="{if $presenter->isLinkCurrent($values[current])}active{/if} {ifset $values[submenu]}submenu{/ifset}">

                <a n:href="$values['link']">
                    <i class="fa fa-{$values[icon]}"></i>
                    <span>{$name}</span>
                <span class="label" n:ifset="$values[submenu]">
                    {count($values[submenu])}
                </span>
                    <i n:ifset="$values[submenu]" class="arrow fa fa-chevron-right"></i>
                </a>

                <ul n:ifset="$values[submenu]">
                    <li n:foreach="$values[submenu] as $subName => $subValues"
                        n:class="$presenter->isLinkCurrent($subValues['current']) ? 'active'">
                        <a n:href="$subValues['link']">
                            <span>{$subName}</span>
                        </a>
                    </li>
                </ul>

            </li>

        </ul>

    </div>

    <div id="content">
        <div id="content-header" class="mini">
            <h1>{$presenterTitle}</h1>

        </div>
        <div id="breadcrumb">
            <a n:href="Default:" title="Go to Home" class="tip-bottom">
                <i class="icon-home"></i>
                Domů
            </a>
            <a n:href="default" n:ifset="$presenterTitle">{$presenterTitle}</a>
            <a href="#" class="current">
                {$viewTitle}
            </a>
        </div>

        <div n:snippet="flash" n:ifset="$flashes" class="container-fluid">
            <div class="row" n:foreach="$flashes as $flash">
                <div class="col-md-12 alert alert-{$flash->type}" role="alert">
                    {$flash->message}
                </div>
            </div>
        </div>

        {include content}

    </div>
    <div class="row">
        <div id="footer" class="col-xs-12">
            2014 &copy; <a href="http://www.ondraplsek.cz" target="_blank">Ondřej Plšek</a><br>
        </div>
    </div>
</div>

</body>
</html>
