{var $title = 'Přehled'}

{block #content}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box widget-plain">

            <div class="widget-content">
                <p>
                    <a n:href="add" class="btn btn-success ajax">
                        <i class="icon-file icon-white"></i> Vytvořit
                    </a>
                </p>


                {control grid}
            </div>

        </div>
    </div>
</div>


